:root {
  --mustard: #cc9933;
  --mustard-title: #d3a95d;
  --mustard-bg: #f0bf5f;
  --mustard-link: #ffcc66;
  --dark-title: #323232;
  --black-shadow: #333333;
  --grey: #666666;
  --light-grey: #999999;
  --white: #ffffff;
  --white-shadow: #f1f1f1;
}
