:root {
  --light-grey: #e5e5e5;
  --extra-grey: #ececec;
  --dark-grey: #d2d2d2;
  --grey: #cacaca;
  --white: #ffffff;
  --yolk: #ff9900;
  --yolk-saturated: #e1670e;
  --dark-color: #333333;
  --smoky-black: #414141;
  --backup-color: #568aa0;
  --section-hero-height: 620px;
}
