html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;

  color: var(--dark-color);
  background-color: var(--white);

  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 32px;
}

a {
  text-decoration: none;

  color: inherit;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.ul-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.fieldset-reset {
	margin: 0;
	padding: 0;

	border: 0;
}

.border-reset {
	border: 0;
}

.btn-reset {
	padding: 0;

	cursor: pointer;

	border: none;
}

.visually-hidden {
	position: absolute !important;

	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);

	width: 1px !important;
	height: 1px !important;
	padding:0 !important;

	border:0 !important;
}

.container {
  max-width: 1800px;
  min-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
